@tailwind base;
@tailwind components;
@tailwind utilities;

/* colors to use in this

cool gray: #686361
chilli pepper: #E32227
blue: #1A7CFA
midnight blue: #0070E0 */

@layer base {
  :root{
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    
    --clr-midnightblue: #01216E;
    --clr-midnightblue-rgb: 1,33,110;
    --clr-midnightblue-df: #003459;
    --clr-regblue: #1A7CFA;
    --clr-regblue-rgb: 26,124,250;
    --clr-chilli: #E32227;
    --clr-chilli-rgb: 227,34,39;
    --clr-lightchilli: #680005;
    --clr-lightchilli-rgb:104, 0, 5;
    --clr-coolgray: #686361;
    --clr-coolgray-rgb: 104,99,97;
    --color: rgba(114, 114, 114, 0.3);
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
      
      --clr-midnightblue: #01216E;
      --clr-midnightblue-rgb: 1,33,110;
      --clr-regblue: #1A7CFA;
      --clr-regblue-rgb: 26,124,250;
      --clr-chilli: #E32227;
      --clr-chilli-rgb: 227,34,39;
      --clr-lightchilli: #4B0407;
      --clr-lightchilli-rgb:104, 0, 5;
      --clr-coolgray: #686361;
      --clr-coolgray-rgb: 104,99,97;
      --color: rgba(0, 0, 0, 0.3);
    }
  }
}

.background-gradient {
  background: radial-gradient(
    circle at right top,
    hsla(222, 80%, 60%, 0.5) 0%,
    hsla(222, 0%, 0%, 0) 50%,
    hsla(222, 0%, 0%, 0) 100%
  );
}

/* body{
  width: 100%;
  height: 100%;
  background-color: #191a1a;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
} */

/* specialButton */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 40px;
  cursor: pointer;
}

.toggle-switch input[type="checkbox"] {
  display: none;
}

.toggle-switch .toggle-switch-background:hover {
  box-shadow: inset 0 0 0 2px #a9b1bf;
  transition: all 0.2s ease-in-out;
}

.toggle-switch .toggle-switch-handle:hover {
  transition: all 0.2s ease-in-out;
}

.toggle-switch-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ddd;
  border-radius: 12px;
  box-shadow: inset 0 0 0 2px #ccc;
  transition: background-color 0.3s ease-in-out;
}

.toggle-switch-handle {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 22%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.toggle-switch::before {
  content: "";
  position: absolute;
  top: -25px;
  right: -35px;
  font-size: 12px;
  font-weight: bold;
  color: #aaa;
  text-shadow: 1px 1px #fff;
  transition: color 0.3s ease-in-out;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch-handle {
  transform: translateX(45px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 0 3px #12b76a;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch-background {
  background-color: #12b76a;
  box-shadow: inset 0 0 0 2px #039855;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch:before {
  content: "On";
  color: #12b76a;
  right: -15px;
}

.toggle-switch
  input[type="checkbox"]:checked
  + .toggle-switch-background
  .toggle-switch-handle {
  transform: translateX(40px);
}

/* end of specialButton */

/* hexagon background */

.hexagon-container{
  background-color: black;
}

.hex-row{
  display: inline-flex;
  margin-left:-50px;
  margin-top:-27px;
}

.hex-row:nth-child(even){
  margin-left:2px
}

.hexagon{
  width:100px;
  height: 100px;
  margin: 4px;
  background-color: var(--clr-coolgray);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  animation: animation 4s linear infinite;
  transition: 1s;
}

.hexagon:hover{
  background-color: #0f0;
  transition: 0s;
}

@keyframes animation{
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}

.hexagon:after{
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  /* background: linear-gradient(45deg, rgba(0,0,0,0.5), rgba(0,0,0,0.1)); */
  background: var(--clr-coolgray);
}

.hexagon:before{
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: rgba(0,255,255,0.5);
  z-index: 2;
}

/* end of hexagon background */

/* currently learning slice */
.bg-learning{
  background-image: url("../../public/skybg.png");
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: var(--clr-midnightblue-df);
  background-blend-mode: normal;
}

.bg-ocean{
  
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, var(--clr-midnightblue-df) 100%), url("../../public/oceanbg.png");
  background-position: top center;
  background-size: 100% 60%;
  background-repeat: no-repeat;
  background-blend-mode: hard-light;
}

.circle-container {
  position: relative;
  width: 800px;
  height: 800px;
  margin: 0 auto;
  /* Optional: If you want to make it circular */
}

.circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  /* border: 2px solid #000;  To visualize the circle */
}

.item {
  position: absolute;
  width: 350px;
  height: 350px;
  background-color: rgba(var(--clr-midnightblue-rgb),0.45);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transform-origin: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .circle-container {
    width: 50px;
    height: 50px;
  }

  .item {
    width: 200px;
    height: 200px;
  }
}

/* end of currently learning slice */
/* learning next slice */
.slider{
  justify-content: center;
  width: 80%;
  height: auto;
  margin: 0 auto;
}

/* ContentIndex slice */
.slider{
  flex-flow: row nowrap;
}

.slider_items{
  transform-origin: 0 0;
  will-change: transform;
}